<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link rel="shortcut icon" href="http://{{ server }}/images/Logo.png">

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
    <link rel="stylesheet" href="http://{{ server }}/css/styles.css">

    <title>{% block title %}{% endblock %}</title>

<body class="home">

<header id="header">
    <div id="head" class="parallax" parallax-speed="2">
        <h1 id="logo" class="text-center">
            <img class="img-circle" src="http://{{ server }}/images/Logo.png" alt="">
            <span class="title">Pat Open</span>
            <span class="tagline">Une personne mystérieuse<br>
				<a href="mailto:patopenclassrom@gmail.com">patopenclassrom@gmail.com</a>
            </span>
        </h1>
    </div>

    <nav class="navbar navbar-default navbar-sticky">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu"><span
                            class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="menu">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="http://{{ server }}">Accueil</a></li>
                    <li><a href="http://{{ server }}#about">à propos</a></li>
                    <li><a href="http://{{ server }}#articles">Articles</a></li>
                    <li><a href="http://{{ server }}#contact">Contact</a></li>
                    {% if logged %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bonjour {{ user }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://{{ server }}/Admin/profile" class="dropdown-item">Mon profil</a>
                                </li>
                                {% if admin %}
                                    <li><a href="http://{{ server }}/Admin/admin"
                                           class="dropdown-item">Administration</a></li>
                                {% endif %}
                                <li><a href="http://{{ server }}/Auth/logout" class="dropdown-item">Déconnexion</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item ">
                            <a class="nav-link" href="http://{{ server }}/Auth/login">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</header>

<main id="main">

    <div class="container">

        {% block content %}{% endblock %}

    </div>

</main>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 widget">
                <h3 class="widget-title">Contact</h3>
                <div class="widget-body">
                    <p>+33 06 01 02 03 04<br>
                        <a href="mailto:patopenclassrom@gmail.com">patopenclassrom@gmail.com</a><br>
                        <br>
                        234 Hidden Adress, 33000 Bordeaux
                    </p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <h3 class="widget-title">Follow me</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        <a href="https://twitter.com/PatOpen33" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
                        <a href="https://www.linkedin.com/in/patrick-o-031515157/" target="_blank"><i class="fa fa-linkedin fa-2"></i></a>
                        <a href="https://github.com/PatOpen" target="_blank"><i class="fa fa-github fa-2"></i></a>
                        <a href="https://openclassrooms.workplace.com/" target="_blank"><i class="fa fa-facebook fa-2"></i></a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>

<footer id="underfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 widget">
                <div class="widget-body">
                    <p class="text-right">Copyright &copy; 2020, Pat Design: <a href="#" rel="designer">Pat</a></p>
                </div>
            </div>

        </div>
    </div>
</footer>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="http://{{ server }}/js/template.js"></script>
</body>
</html>
