{% extends 'layout.twig' %}

{% block title %}post{% endblock %}

{% block content %}

    {% for thePosts in thePost %}

    <h1>{{ thePosts.title }}</h1>

        <span>Article écrit le {{ thePosts.post_create_date }}</span>

        <p>{{ thePosts.description }}</p>

        <p>écrit par {{ thePosts.pseudo }}</p>

    {% for allComment in allComments %}

        <div>{{ allComment.content }}</div>
        <p>commentaire écrit par {{ allComment.pseudo }} le {{ allComment.comment_create_date }}</p>

    {% endfor %}

    {% endfor %}


    <h2>Ajouter un commentaire</h2>



{% endblock %}