{% extends 'layout.twig' %}
{% import 'form.twig' as form %}

{% block title %}post{% endblock %}

{% block content %}

    {% for thePosts in thePost %}

    <h1>{{ thePosts.title }}</h1>

        <span>Article écrit le {{ thePosts.post_create_date }}</span>

        <p>{{ thePosts.description }}</p>

        <p>écrit par {{ thePosts.pseudo }}</p>

        <h2 class="page-header">Commentaires</h2>

        <section class="comment-list">

            {% for allComment in allComments %}
            <article class="row">
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                        <img class=" rounded mx-auto d-block" src="../images/avatar/{{ allComment.avatar }}" width="50px" height="50px" alt="{{ allComment.pseudo }}"/>
                        <figcaption class="text-center">{{ allComment.pseudo }}</figcaption>
                    </figure>
                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="panel panel-default arrow left">

                        {% if allComment.user_id == modifComment%}
                            <div class="btn-group align-top float-right">
                                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-center" href="http://{{ server }}/Comment/updateComment/{{ allComment.id }}">Modifier</a>
                                    <a class="dropdown-item text-center" href="http://{{ server }}/Comment/deleteComment/{{ allComment.id }}" onclick="return confirm('Voulez-vous vraiment supprimer ce commentaire ?')">Supprimer</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="panel-body">
                            <header class="text-left">
                                <div class="comment-user"><i class="fa fa-user"></i> {{ allComment.pseudo }}</div>
                                <time class="comment-date" datetime="{{ allComment.comment_create_date }}"><i class="fa fa-clock-o"></i> {{ allComment.comment_create_date }} </time>
                                {% if allComment.comment_modif_date %}
                                <time class="comment-date" datetime="{{ allComment.comment_modif_date }}"> <em>  modifié le :</em> {{ allComment.comment_modif_date }}</time>
                                {% endif %}
                            </header>
                            <div class="comment-post">
                                <p>{{ allComment.content }} </p>
                            </div>
                        </div>
                    </div>
                </div>


            </article>

            {% endfor %}

        </section>

    {% endfor %}


    <h2>Ajouter un commentaire</h2>

    <form action="http://{{ server }}/Comment/addCommentPost" method="post">
        <div class="row">

            {{ form.textarea('message', 'Votre commentaire', 'Ecrivez votre message') }}

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </form>

{% endblock %}