{% extends 'layout.twig' %}
{% import 'form.twig' as form %}

{% block title %}Créer un compte{% endblock %}

{% block content %}

    {% if noPseudo %}
        <div class="section">
            <p class="bg-warning text-white text-center">Ce pseudo existe déja !</p>
        </div>
    {% endif %}
    {% if noEmail %}
        <div class="section">
            <p class="bg-warning text-white text-center">Cet Email existe déja !</p>
        </div>
    {% endif %}
    {% if valid %}
        <div class="section">
            <p class="bg-danger text-white text-center">les mots de passe ne correspondent pas !</p>
        </div>
    {% endif %}
    {% if noValid %}
        <div class="section">
            <p class="bg-danger text-white text-center">Les champs doivent avoir au moins 4 caractères et sans espace
                !</p>
        </div>
    {% endif %}
    {% if space %}
        <div class="section">
            <p class="bg-warning text-white text-center">Les champs ne doivent pas contenir d'espaces</p>
        </div>
    {% endif %}

    <h1>S'enregistrer</h1>

    <form action="http://{{ server }}/Auth/register" method="post">
        <div class="row">

            {{ form.input('pseudo', 'Pseudo', 'text', 'Votre pseudo', key.pseudo ) }}
            {{ form.input('identifiant', 'Email', 'email', 'Votre Email', key.identifiant) }}

        </div>
        <div class="row">

            {{ form.input('password', 'Mot de passe', 'password', 'Votre mot de passe') }}

        </div>
        <div class="row">

            {{ form.input('confirme', 'Confirmer votre mot de passe', 'password', 'Confirmer votre mot de passe') }}

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </form>

{% endblock %}